In [1]:
import numpy as np
import pandas as pd

In [2]:
us_data = pd.read_csv('data/aggregated_aggregated.csv')

In [3]:
# new_df = us_data.loc[:, ['cast']]
# actors_list = new_df['cast'].to_numpy()

In [59]:
# Calculating the average number of films produced in a year given that they produced at least one film

us_data['year'] = pd.DatetimeIndex(us_data['release_date']).year
in_date = us_data[(us_data['year'] >= 2000) & (us_data['year'] <= 2010)]
df = pd.DataFrame()

#count the number of films each company produced in each year and add to dataframe
for year in range(2000, 2008):
    counter = in_date[in_date['year'] == year]['first_company'].value_counts()
    
    for i in range(len(counter)):
        df.loc[year, counter.index[i]] = counter[i]

# drop if only made one film the entire time because that might be a shell company
no_shell_companies = df.loc[:, (df.sum(axis=0) > 1)]

#calulate mean for each row
df['mean'] = df.mean(axis=1)
no_shell_companies['mean'] = no_shell_companies.mean(axis=1)

print('average with potential for shell companies: {}'.format(np.mean(df['mean'])))
print('average without potential shell companies: {}'.format(np.mean(no_shell_companies['mean'])))

average with potential for shell companies: 1.8580347842745613
average without potential shell companies: 2.364058106472195

/Users/johnfitzpatrick/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
import ast

us_data['cast'] = us_data['cast'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))

In [18]:
train_sub_1980_2012 = pd.read_csv('data/Current/train_sub_1980_2012_prod_comp_class_actor_director_istopk_logrev_genres.csv')
train_1980_2014 = pd.read_csv('data/Current/train_1980_2014_prod_comp_class_actor_director_istopk_logrev_genres.csv')
test_2015_2017 = pd.read_csv('data/Current/test_2015_2017_prod_comp_class_actor_director_istopk_logrev_genres.csv')
val_2013_2014 = pd.read_csv('data/Current/val_2013_2014_prod_comp_class_actor_director_istopk_logrev_genres.csv')

In [19]:
oscar_winners = pd.read_csv('data/oscars.csv')

In [20]:
pre_2013_winners = oscar_winners[oscar_winners['oscar_yr'] <= 2012] 
pre_2015_winners = oscar_winners[oscar_winners['oscar_yr'] <= 2014]

In [25]:
import ast

train_sub_1980_2012['cast'] = train_sub_1980_2012['cast'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))
train_1980_2014['cast'] = train_1980_2014['cast'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))
test_2015_2017['cast'] = test_2015_2017['cast'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))
val_2013_2014['cast'] = val_2013_2014['cast'].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))

In [26]:
def gender_score(cast_list, n):
    gender_scores = np.zeros(len(cast_list))
    
    #loop through each cast list
    for i in range(len(cast_list)):
        count_female = 0

        #loop through actors in cast list
        for j in range(n):
            try:
                if cast_list[i][j]['gender'] == 1:
                    count_female = count_female + 1
            except:
                pass
        
        gender_scores[i] = count_female / n
            
    return gender_scores

us_data['gender_score'] = gender_score(us_data['cast'], 5)

NameError: name 'us_data' is not defined

In [27]:
oscars = pd.read_csv('data/oscars.csv')

In [30]:
def has_oscar_winner(oscar_list, df):
    cast_list = df['cast']
    has_oscar_winner = np.zeros(len(cast_list))
    winner_list = oscar_list['name'].to_list()
    normalized_list = [name.lower().strip() for name in winner_list]
    
    #loop through cas list
    for i in range(len(cast_list)):
        has_winnner = False
        
        #loop through actors in cast list
        for j in range(len(cast_list[i])):
#             print(len(cast_list), len(cast_list[i]))
            if cast_list[i][j]['name'].lower().strip() in normalized_list:
                has_winnner = True
            
        has_oscar_winner[i] = has_winnner
                
    return has_oscar_winner

In [32]:
train_sub_1980_2012['has_oscar_winner'] = has_oscar_winner(pre_2013_winners, train_sub_1980_2012)
val_2013_2014['has_oscar_winner'] = has_oscar_winner(pre_2013_winners, val_2013_2014)
train_1980_2014['has_oscar_winner'] = has_oscar_winner(pre_2015_winners, train_1980_2014)
test_2015_2017['has_oscar_winner'] = has_oscar_winner(pre_2015_winners, test_2015_2017)

In [39]:
train_sub_1980_2012.to_csv('data/Current/train_sub_1980_2012_prod_comp_class_actor_director_istopk_logrev_genres.csv')
train_1980_2014.to_csv('data/Current/train_1980_2014_prod_comp_class_actor_director_istopk_logrev_genres.csv')
test_2015_2017.to_csv('data/Current/test_2015_2017_prod_comp_class_actor_director_istopk_logrev_genres.csv')
val_2013_2014.to_csv('data/Current/val_2013_2014_prod_comp_class_actor_director_istopk_logrev_genres.csv')

In [162]:
us_data['has_oscar_winner'] = has_oscar_winner(us_data['cast'])

In [37]:
us_data[['has_oscar_winner','cast']][:5]

NameError: name 'us_data' is not defined

In [164]:
us_data.to_csv('data/final_aggregate.csv')

In [165]:
new_data = pd.read_csv('data/final_aggregate.csv')

In [168]:
new_data.head()

,Unnamed: 0,id,id.1,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,...,cast,crew,top5_actors,log_revenue,usa,log_revenue_num,first_company,production_company_class,gender_score,has_oscar_winner
0,0,0,862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,...,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",H,True,19.738573,Pixar Animation Studios,minor,0.0,1.0
1,1,1,8844,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",H,True,19.386893,TriStar Pictures,medium,0.4,0.0
2,2,2,31357,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,...,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","['Whitney Houston', 'Angela Bassett', 'Loretta...",H,True,18.215526,Twentieth Century Fox Film Corporation,major,0.8,0.0
3,3,3,11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",20000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","['Steve Martin', 'Diane Keaton', 'Martin Short...",H,True,18.153832,Sandollar Productions,minor,0.4,1.0
4,4,4,949,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0113277,en,...,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","['Al Pacino', 'Robert De Niro', 'Val Kilmer', ...",H,True,19.048952,Regency Enterprises,medium,0.0,1.0

In [151]:
def num_oscar_winners(cast_list):
    num_winner_holder = np.zeros(len(cast_list))
    winner_list = oscars['name'].to_list()
    normalized_list = [name.lower().strip() for name in winner_list]
    
    #loop through all cast lists
    for i in range(len(cast_list)):
        num_winners = 0
        
        #loop through all actors in cast list
        for j in range(len(cast_list[i])):
            #if also in list of oscar winners
            if cast_list[i][j]['name'].lower().strip() in normalized_list: 
                num_winners =+ 1
            
        num_winner_holder[i] = num_winners
                
    return num_winner_holder

In [152]:
us_data['num_oscar_winners'] = num_oscar_winners(us_data['cast'])

In [153]:
us_data[us_data['num_oscar_winners'] == 1].head()

,id,id.1,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,...,crew,top5_actors,log_revenue,usa,log_revenue_num,first_company,production_company_class,gender_score,has_oscar_winner,num_oscar_winners
0,0,862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,...,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",H,True,19.738573,Pixar Animation Studios,minor,0.0,1.0,1.0
3,3,11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",20000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,...,"[{'credit_id': '52fe44959251416c75039ed7', 'de...","['Steve Martin', 'Diane Keaton', 'Martin Short...",H,True,18.153832,Sandollar Productions,minor,0.4,1.0,1.0
4,4,949,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0113277,en,Heat,...,"[{'credit_id': '52fe4292c3a36847f802916d', 'de...","['Al Pacino', 'Robert De Niro', 'Val Kilmer', ...",H,True,19.048952,Regency Enterprises,medium,0.0,1.0,1.0
7,7,9087,False,NaN,62000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0112346,en,The American President,...,"[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","['Michael Douglas', 'Annette Bening', 'Michael...",H,True,18.496525,Columbia Pictures,major,0.4,1.0,1.0
9,9,10858,False,NaN,44000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,tt0113987,en,Nixon,...,"[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","['Anthony Hopkins', 'Joan Allen', 'Powers Boot...",M,True,16.431574,Hollywood Pictures,medium,0.2,1.0,1.0